.photo-details-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.photo-details-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 1000px;
  max-height: 70vh;
  overflow-y: scroll;
  border-radius: 12px;
  padding: 20px;
}

.photo-details-modal__close-button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 24px;
    height: 24px;
  }
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.photo-details-modal__image {
  width: 90%;
  max-width: 500px;
  height: 400px;
  object-fit: cover;
  align-self: center;
}

.photo-details-modal__fav-icon {
  position: absolute;
  top: 10px;
  left: 130px;
  z-index: 10;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 12px;
  width: 50px;
  height: 50px;
}

.photo-details-modal__photographer-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

// responsive design

@media screen and (max-width: 1440px) {
  .photo-details-modal {
    width: 50vw; 
    max-width: 700px;
    object-fit: cover;
  }
  .photo-details-modal__fav-icon {
    top: 9px;
    left: 35px;
  }
  .photo-details-modal__image {
    max-width: 800px;
  }
  .photo-details-modal__close-button {
    top: 10px;
    left: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-details-modal {
    width: 50vw; 
    max-width: 700px;
  }
  .photo-details-modal__fav-icon {
    top: 9px;
    left: 17px;
  }
  .photo-details-modal__close-button {
    top: 10px;
    left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .photo-details-modal {
    width: 50vw;
    max-width: 700px;
    padding: 15px;
  }

  .photo-details-modal__fav-icon {
    top: 9px;
    left: 15px;
  }

  .photo-details-modal__image {
    max-width: 100%;
  }

  .photo-details-modal__photographer-profile {
    width: 40px;
    height: 40px;
  }

  .photo-details-modal__photographer-info {
    font-size: 12px;
  }
  .photo-details-modal__close-button {
    top: 10px;
    left: 2px;
  }
}

// responsive for larger screens
@media screen and (min-width: 1441px) {
  .photo-details-modal {
    width: 50vw;
    max-width: 700px;
    object-fit: cover;
  }
  
  .photo-details-modal__image {
    max-width: 800px;
  }
  
  .photo-details-modal__fav-icon {
    top: 10px;
    left: 35px;
  }
}
