.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 12px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
  width: 100%;
}

.top-nav-bar__actions {
  display: flex;
  align-items: center;
  gap: 16px;  
  margin-left: auto;
  padding-top: 10px;

  .dark-mode-toggle {
    order: 2; // Puts dark mode toggle on the right
  }
  
  .fav-badge {
    order: 1; // Puts heart icon on the left
  }
}

.top-nav-bar__logo {
  margin-right: auto;
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

//responsive nav bar
@media (max-width: 1500px) {
  .top-nav-bar {
    padding: 8px 16px;
    min-height: 64px;
    width: 80%;
    margin: 0 auto;
  }

  .top-nav-bar__logo {
    font-size: 20px;
    margin-left: 16px;
  }
}
@media (max-width: 1000px) {
  .top-nav-bar {
    padding: 8px 16px;
    min-height: 64px;
    width: 70%;
    margin: 0 auto;
  }

  .top-nav-bar__logo {
    font-size: 20px;
    margin-left: 16px;
  }
}

@media (max-width: 768px) {
  .top-nav-bar {
    padding: 8px 12px;
    height: 56px;
    width: 90%;
  }

  .top-nav-bar__logo {
    font-size: 18px;
    margin-left: 12px;
  }
}
